<!DOCTYPE html>
    <body>
        <center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>
                Extract the file from the image
            </h1>
            <h2>please click on the extract button</h2>
        <input style="font-size:14pt;" type="button" value="extract" id="exe" onclick="extracting()">
        <script>
           function extracting()
           {
               window.location="/extract1"
           }
        </script>
        </center>
        <style>
            #exe{
                border-radius: 10px;
                cursor: pointer;
                padding: 16px 32px;
                border:none;
            }
        </style>
    </body>
    </html>